.container{
    background-color: #EEEEEE;
    width: 1000px;
    margin: 50px auto;
}

.container .one,
.container .two div,
.container .three div,
.container .four div{
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    background-color: #DDDDDD;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
}