/* Assignment 01 */
.parent .child .title {
    color: red;
}
.parent .title {
    color: blue;
}
.parent p,
.title {
    color: green;
}

/* Assignment 02 */
.parent-two p {
    background-color: rgb(153, 45, 45);
    color: white;
    padding: 20px;
    margin: 30px;
    width: fit-content;
    max-width: 400px;
    max-height: 30px;
    overflow: hidden;
}