    /* Assign 01 */
    .container {
        width: 1000px;
        background-color: #EEEEEE;
        margin: 50px auto;
    }
    .container .one,
    .container .two div,
    .container .three div,
    .container .four div {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        font-weight: 700;
        float: left;
        text-align: center;
        background-color: #DDDDDD;
        padding-top: 15px;
        padding-bottom: 15px;
        margin-left: 15px;
        margin-top: 15px;
    }
    .container .one {
        width: calc(100% - 30px);
    }
    .container .two div {
        width: calc((100% - 60px)/3);
    }
    .container .three div {
        width: calc((100% - 45px)/2);
    }
    .container .four div {
        width: calc((100% - 75px)/4);
        margin-bottom: 15px;
    }
    .clear {
        clear: both;
    }
    
    /* Assign 02 */
    .container-two div {
        margin: 20px auto;
        width: 300px;
        font-weight: bold;
        font-size: 1rem;
        padding: 20px;
        background-color: #B3B3B3;
        color: black;
    }
    .container-two .one {
        background-color: rgba(179, 179, 179, 0.1);
    }
    .container-two .two {
        opacity: 0.1;
    }